---
layout: base.njk
---
{% include 'sitenav.njk' %}

<header class="tdbc-hero tdbc-background--dark">
  <div class="tdbc-container">
    <h1 class="tdbc-ink--secondary tdbc-mb-none">{{ title }}</h1>
    <span class="tdbc-lead tdbc-content-maxlength tdbc-ink--light tdbc-mt-md tdbc-mx-auto">
      {{ description }}
    </span>
  </div>
</header>
<main class="tdbc-container">
  <article class="tdbc-mx-auto">
    {{ content | safe }}
  </article>
</main>
