
@import "theme";
@import "reset";
@import "typography";
@import "utilities";

// stylelint-disable

body {
  border: 3px solid tdbc-color("secondary");
  display: grid;
  place-content: center;
  text-align: center;
  font-family: $tdbc-font-family;

  h1 {
    font-size: 2.5rem;
  }
}
